<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>회원가입</title>
    <link rel="stylesheet" href="/community-signup.css">
    <link rel="stylesheet" th:href="@{/bootstrap.min.css}">
</head>
<body>
<div class="background">
    <div class="mobile-container">
        <div class="top-bar">
            <div class="left-icons">
                <a th:href="@{/question/list}">
                    <img src="/images/back-icon.png" alt="뒤로가기" class="back-icon">
                </a>
            </div>
            <h1>회원가입</h1>
            <div class="right-space"></div>
        </div>
        <div class="content">
            <form th:action="@{/user/signup}" th:object="${userCreateForm}" method="post">
                <div th:replace="~{form_errors :: formErrorsFragment}"></div>
                <div class="login-font">
                    <!-- Email -->
                    <div class="m-3">
                        <label for="email" class="form-label text-info">이메일</label>
                        <input type="email" th:field="*{email}" id="email" class="form-control"
                               style="background-color: #F4F4F4" placeholder="예) lounge@mail.com">
                    </div>

                    <!-- Username -->
                    <div class="m-3">
                        <label for="username" class="form-label text-info">사용자 이름</label>
                        <input type="text" th:field="*{username}" id="username" class="form-control"
                               style="background-color: #F4F4F4" placeholder="사용자 이름을 입력하세요.">
                    </div>

                    <!-- Password -->
                    <div class="m-3">
                        <label for="password1" class="form-label text-info">비밀번호</label>
                        <input type="password" th:field="*{password1}" id="password1" class="form-control"
                               style="background-color: #F4F4F4" placeholder="비밀번호를 입력하세요. (10자 이상)">
                        <input type="password" th:field="*{password2}" id="password2" class="form-control mt-3"
                               style="background-color: #F4F4F4" placeholder="위와 동일한 비밀번호를 입력하세요.">
                    </div>

                    <!-- Customer Phone -->
                    <div class="m-3">
                        <label for="customerPhone" class="form-label text-info">전화번호</label>
                        <input type="text" th:field="*{customerPhone}" id="customerPhone" class="form-control"
                               style="background-color: #F4F4F4" placeholder="전화번호를 입력하세요.">
                    </div>

                    <!-- Customer Address -->
                    <div class="m-3">
                        <label for="customerAddress" class="form-label text-info">주소</label>
                        <div class="input-group mb-3">
                            <input type="text" th:field="*{customerAddress}" id="customerAddress" class="form-control"
                                   style="background-color: #F4F4F4" placeholder="주소를 검색하세요." readonly>
                            <button type="button" class="btn btn-secondary" onclick="execDaumPostcode()">주소 검색</button>
                        </div>
                        <!-- 상세 주소 필드 -->
                        <input type="text" th:field="*{detailAddress}" id="detailAddress" class="form-control"
                               style="background-color: #F4F4F4" placeholder="상세 주소를 입력하세요.">
                    </div>
                </div>
                <div class="d-grid gap-2 m-3">
                    <button type="submit" class="btn btn-primary py-2 mt-3" id="button">회원가입</button>
                </div>
            </form>
        </div>
    </div>
</div>
<script src="https://t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
<script>
    // 주소 검색 API 이벤트
    function execDaumPostcode() {
        new daum.Postcode({
            oncomplete: function (data) {
                document.getElementById('customerAddress').value = data.address; // 도로명 주소
            }
        }).open();
    }
</script>
</body>
</html>
